<div class="modal-dialog" role="document" style="width: 540px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">积分冲减</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="row">
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <input type="hidden" name="member_id" :value="memberInfo.id">

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员编号</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="memberNumber" value="{$info.number|default=''}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" @click="searchMember">查询</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">冲减积分</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="point_num" value="{$info.point_num|default=''}">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员姓名</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" :value="memberInfo.name" disabled>
                            </div>

                            <label class="col-sm-2 control-label">会员性别</label>
                            <div class="col-sm-4">
                                <select class="form-control" :value="memberInfo.gender" disabled>
                                    <option value="-1">未知</option>
                                    <option value="0">女</option>
                                    <option value="1">男</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员手机</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" :value="memberInfo.mobile" disabled>
                            </div>

                            <label class="col-sm-2 control-label">会员生日</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" :value="memberInfo.birthday" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">已兑积分</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" :value="memberInfo.consume_point" disabled>
                            </div>

                            <label class="col-sm-2 control-label">剩余积分</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" :value="memberInfo.current_point" disabled>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">创建人</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{$info.admin_add_name|default=''}" disabled>
                            </div>

                            <label class="col-sm-2 control-label">创建日期</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{$info.create_time|default=''}" disabled>
                            </div>
                        </div>
                    </div>

                    <!--1&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="col-sm-2 control-label">修改人</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" value="{$info.admin_edit_name|default=''}" disabled>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<label class="col-sm-2 control-label">日期</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" value="{$info.update_time|default=''}" disabled>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                </div>


            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="saveInfo" class="btn skin-blue-light" data-url="{notempty name='$info.id'}{:url('minusLogEdit')}{else/}{:url('minusLogAdd')}{/notempty}">保存</button>

        </div>
    </div>
</div>

<script>

    var vm = new Vue({
        el: '.modal-body', data: {
            memberInfo:{},
        }, methods: {
            searchMember:function(){
                var that = this;
                var number= $('#memberNumber').val();
                ajax({
                    url:"{:url('searchMember')}",
                    data:{number:number},
                    success:function (data) {
                        if (!data) {
                           obalertp({msg:'未查到会员信息'});
                           return false;
                        }

                        that.memberInfo= data;
                    }
                })
            }
        },
    })

    $(function () {
        // ob.setValue('is_point', '{$info.is_point|default=""}');

    })


</script>
