<div class="box">
  <div class="box-header">
      <ob_link><a class="btn" href="{:url('shopDisburseAdd')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>

      <div class="box-tools">
          <div class="input-group search-form">
              <input name="search_data" class="pull-right search-input" value="{:input('search_data')}" placeholder="支持POS机名|店铺名" type="text">
              <div class="input-group-btn">
                  <button type="button" id="search" url="{:url('shopDisburselist')}" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
          </div>
      </div>

      <br/>
  </div>
    
  <!-- /.box-header -->
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>

          <th>门店</th>
          <th>类型</th>
          <th>金额</th>
          <th>描述</th>

          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>

                  <td>{$vo.shop_name}</td>
                  <td>{$vo.type_name}</td>
                  <td>{$vo.amount}</td>
                  <td>{$vo.describe}</td>

                  <td class="col-md-3 text-center">
                      <ob_link><a href="{:url('shopDisburseEdit',array('id' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 编 辑</a></ob_link>
                      &nbsp;
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>


  </div>
  
  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>