<div class="modal-dialog" role="document" style="width: 600px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">寄存取货详情</h4>
        </div>
        <div class="modal-body">

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>取货数量</th>
                    <th>取货时间</th>
                    <th>备注</th>

                </tr>
                </thead>

                {notempty name='list'}
                <tbody>
                {volist name='list' id='vo'}
                <tr>

                    <td>{$i}</td>
                    <td>{$vo.num}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.remark}</td>
                </tr>
                {/volist}
                </tbody>
                {else/}
                <tbody>
                <tr class="odd">
                    <td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td>
                </tr>
                </tbody>
                {/notempty}
            </table>


        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
